/*** Navbar css code ***/

body {
  background-color:grey;
  
}

.navbar-brand {
  background-color: rgb(62, 172, 172);
  padding: 10px 20px;
  font-style: normal;
  border-radius: 10%;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
  color: white;
}

.nav-item {
  border-right: 1px solid lightgray;
}

.nav-item:last-child {
  border-right: none;
}

.navbar-nav .nav-link {
  padding: 0, 0.5rem;
}

/*** Body content code***/

main {
  background-color: lightgray;
}

.content-box {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

h3 {
  margin-bottom: 0px;
  color: rgb(62, 172, 172);
}

.caption {
  background-color: rgb(62, 172, 172);
  width: 100%;
  position: absolute;
  top: 75%;
  border: 3px solid rgb(62, 172, 172);
  color: white;
  padding: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.img-responsive {
  background-image: url("../images/porfolio.gif");
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: contain;
  min-height: 350px;
}

/*** Footer ***/

footer {
  background-color: grey;
  border-top: rgb(62, 172, 172) 5px solid;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
}
a{
  margin-right: 5px;
  color: black;
}

a:hover {
  color: rgb(62, 172, 172);
}
/** media query **/

@media screen and (max-width: 991px) {
  .navbar .container-lg,
   .navbar-brand
   {
       display: block;
   }
   .navbar{
       padding: 0px;
   }
   .navbar-brand{
       margin-right: -1rem;
       margin-left: -1rem;
   }
   .navbar-nav{
       flex-direction: row;
       justify-content: center;
       padding: 5px;
   }
  
}